[submodule "git-test-sub"]
	path = git-test-sub
	url = https://whitedog519@github.com/whitedog519/git-test-sub.git
[submodule "sub"]
	path = sub
	url = https://whitedog519@github.com/whitedog519/git-test-sub.git
